
.layout-wrapper {
  display: flex;
  justify-content: center;

  width: 100%;
  background-color: grey;
  min-height: 100vh;
   
  position: relative;
  padding: 40px 450px 20px;
  margin-top: 470px;
  
  
  
  

}

.layout-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  
  

  
  align-items: flex-start;
  
  color: grey;

  
 
  
 
  gap: 2rem;
  
  


}

.page-title {
  color: grey
}

/* Main Content (center) */
.notifications-main {

  
  
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
  
  background-color: white;
  border: none;
  display: flex;
  flex-direction: column ;
  align-items: flex-start;
  padding-top: 4rem;
  position: relative;
  padding-bottom: 60rem;


}

.notification-card:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.notification-card{
  width: 100%;
}
.page-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Button Tabs */
.notifications-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.notifications-button {
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  color: black;
  font-weight: 600;
  border: black 1px solid;
  cursor: pointer;
  background-color: white;
}

.notifications-button.active {
  background-color: white;
  color: #000;
  border: black 1px solid;
}

.notifications-button.active:hover {

  background-color: white;
}

/* Example notification message */
.notification-card {

 width: 100%;
  max-width: 500px;
  background-color: white;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  font-size: 0.95rem;
  border-radius: 10px;
  
}

/*for rhs*/
.notifications-right {
  flex: 0 0 350px;
  position: absolute;
  max-width: 350px;
  top: 0;
  height: 100vh;
  gap: 2rem;
  display: flex;
  flex-direction: column;
 padding-left: 35rem;
  
  
  


}
