.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
  background-color: #f1f1f1;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  box-shadow: black 0px 0px 5px;
  border: 2px solid grey;
  
  
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  transition: transform 0.2s ease;
}

.icon:hover {
  transform: scale(1.2);
  color: #000;
}